<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="d-flex page__box">
      <app-nav (toggleSidebarForMe)="sideBarToggler()"></app-nav>
    </div>


<div class="container">
  <div class="row">
    <!-- 		Clear night -->
    <div class="col">
      <div class="weather-card one">
        <div class="top">
          <div class="wrapper">
            <div class="mynav">
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-9">
                <form class="example-form" [formGroup]="convoForm" (ngSubmit)="newGroup(convoForm.value);convoForm.reset()">
                  <h2><strong>Create New Group</strong></h2>
                  <div class="new-room">
                    <table>
                      <tr>
                        <td>
                          <mat-form-field class="example">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Enter group title" formControlName="title" [errorStateMatcher]="matcher">
                            <mat-error>
                              <span *ngIf="!convoForm.get('title').valid && convoForm.get('title').touched">Enter group
                                title</span>
                              <span>Enter group title</span>
                            </mat-error>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="example">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Enter Description" formControlName="description"
                              [errorStateMatcher]="matcher"></textarea>
                            <mat-error>
                              <span *ngIf="!convoForm.get('description').valid && convoForm.get('description').touched">Enter
                                Description
                              </span>
                              <span>Enter Description</span>
                            </mat-error>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">
                          <input type="file" placeholder="Enter Image" formControlName="image" (change)="showPreview($event)">
                        </td>
                        <td>
                          <button class="switch__button button switch-btn" type="submit" [disabled]="!convoForm.valid" mat-button matSuffix
                            mat-icon-button aria-label="Send" style="color: #f9f9f9;">
                            Create
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </form>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">
            <div class="date">Chat Groups</div>
            <div class="titles" *ngFor="let data of groups">
              <mat-card (click)="enterChat(data.title)"><img class="img-responsive" [src]="data.image">&nbsp;&nbsp; {{data.title}}
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-drawer-content>
</mat-drawer-container>