<div class="content">
  <div class="main">
    <div class="container a-container" id="a-container">
      <form class="form" id="a-form" method="" action="">
        <h2 class="form_title title">Create Account</h2>
        <div class="form__icons">
          <img class="form__icon" src="https://img.icons8.com/color/100/000000/google-logo.png" alt="">
        </div><span class="form__span">or use email for registration</span>
        <form #formData="ngForm" (ngSubmit)="onRegister(formData)" class="">
          <h3 class="text-center"><strong>Register</strong></h3>
          <hr>
          <table>
            <tr>
              <td>
                <label for="email" class="form-label">Name</label> <br />
                <mat-form-field appearance="outline">
                  <mat-label>Enter your name</mat-label>
                  <input matInput placeholder="displayName" (ngModel)="(displayName)" id="displayName"
                    name="displayName" #displayName="ngModel" required minlength="3"
                    pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" maxlength="15" />
                </mat-form-field>
                <div *ngIf="
                                        displayName.invalid && (displayName.dirty || displayName.touched)
                                      " class="alert alert-danger">
                  <div *ngIf="displayName.errors.required">Name is required.</div>

                  <div *ngIf="displayName.errors.minlength">
                    Name must be at least 3 characters long.
                  </div>
                  <div *ngIf="displayName.errors.pattern">
                    Name must be alphabetic only.
                  </div>
                  <div *ngIf="displayName.errors.maxlength">Name is too long.</div>
                </div>
              </td>
              <td>
                <label for="email" class="form-label">Email Address</label> <br />
                <mat-form-field appearance="outline">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="janedoe@gmail.com" (ngModel)="(email)" id="email" name="email"
                    #email="ngModel" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" minlength="10"
                    maxlength="30" />
                </mat-form-field>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                  <div *ngIf="email.errors.pattern">Enter a valid email address.</div>

                  <div *ngIf="email.errors.required">Email is required.</div>

                  <div *ngIf="email.errors.minlength">
                    Email must be at least 10 characters long.
                  </div>

                  <div *ngIf="email.errors.maxlength">Email is too long.</div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <label for="RegisterPassword" class="form-label">Password</label>
                <br />
                <mat-form-field appearance="outline">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="**********" (ngModel)="(password)"
                    id="password" name="password" (input)="confirmPassword.control.updateValueAndValidity()"
                    #password="ngModel" required
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$" maxlength="20" />
                  <span class="hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </span>
                </mat-form-field>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                  <div *ngIf="password.errors.required">Password is required.</div>

                  <div *ngIf="password.errors.pattern">
                    Password should be atleast 8 characters long and should contain
                    one number, one character and one special character.
                  </div>
                </div>
              </td>

              <td>
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <br />
                <mat-form-field appearance="outline">
                  <mat-label>Type password again</mat-label>
                  <input matInput [type]="hide ? 'confirmPassword' : 'text'" placeholder="**********"
                    (ngModel)="(confirmPassword)" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
                    appConfirmEqualValidator="password" required
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$" maxlength="20" />
                  <span class="hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </span>
                </mat-form-field>
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                  class="alert alert-danger">
                  <div *ngIf="confirmPassword.errors.required">This field is required.</div>

                  <div *ngIf="confirmPassword.errors.notEqual && !confirmPassword.errors.required">
                    Passwords must match.
                  </div>
                </div>
              </td>
            </tr>
            <button mat-raised-button type="submit" [disabled]="!formData.valid" class="form__button button submit">
              Sign Up <i class="fas fa-sign-in-alt"></i>
            </button>
          </table>
        </form>
      </form>
    </div>
    <div class="switch" id="switch-cnt">
      <div class="switch__circle"></div>
      <div class="switch__circle switch__circle--t"></div>
      <div class="switch__container" id="switch-c1">
        <h2 class="switch__title title">Hello Friend !</h2>
        <p class="switch__description description">Enter your personal details and start journey with us</p>
        <span class="form__span">or already have an account?</span>
        <button class="switch__button button switch-btn" routerLink="/login">SIGN IN</button>
      </div>
    </div>
  </div>
</div>