<mat-nav-list>
  <img class="avatar mat-elevation-z8 mb-5" src="../../../assets/images/regi.jpg" />
  <!-- <h4 class="name">Dr.{{ profile.displayName }}</h4>
  <p class="designation">{{ profile.department }}</p> -->
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>person</mat-icon> Profile
  </a>
  <a mat-list-item>
    <mat-icon>wechat</mat-icon> Chat
  </a>
  <a mat-list-item>
    <mat-icon>work</mat-icon> Businesses
  </a>
  <a mat-list-item>
    <mat-icon>feed</mat-icon> Posts
  </a>
  <a mat-list-item 
  routerLink="/hood"
  routerLinkActive="active">
    <mat-icon>apartment</mat-icon> All Hoods
  </a>
</mat-nav-list>