<mat-nav-list>
  <img class="avatar mat-elevation-z8 mb-3 mt-5" *ngFor="let data of profile" [src]="data.image" />
  <h4 class="name" style="color: white;" *ngFor="let data of profile">{{ data.displayName }}</h4>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
    <mat-icon>person</mat-icon> Profile
  </a>
  <a mat-list-item
  routerLink="/chatlist"
  routerLinkActive="list-item-active">
    <mat-icon>wechat</mat-icon> Chat
  </a>
  <a mat-list-item
  routerLink="/category"
  routerLinkActive="list-item-active">
    <mat-icon>work</mat-icon> Businesses
  </a>
  <a mat-list-item
  routerLink="/posts"
  routerLinkActive="list-item-active">
    <mat-icon>feed</mat-icon> Posts
  </a>
  <a mat-list-item 
  routerLink="/hood"
  routerLinkActive="list-item-active">
    <mat-icon>apartment</mat-icon> All Hoods
  </a>
  <a mat-list-item routerLink="/directory" routerLinkActive="list-item-active">
    <mat-icon>contact_page</mat-icon> Directory
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </a>
</mat-nav-list>