/*  */
:host {
	 display: flex;
	 flex-direction: column;
	 height: 100%;
}
 mat-drawer {
	 width: 260px;
	 background: #0f172a;
}
 mat-drawer-container {
	 height: 100%;
}
 
.page {
	 color: white;
	 padding: 0 1rem;
	 background: #f1f5f9;
}
 .page__box {
	 min-height: 120px;
	 background: #0f172a;
	 font-size: 36px;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.section {
  padding: 2rem;
}

.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #0f172a;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}

.snip1336 .profile {
  height: 100px;
  width: 100px;
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}

.snip1336 figcaption {
  width: 100%;
  background-color: #0f172a;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #0f172a;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #818cf8;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
