<section class="section">
  <h1 class="text-center">Business Categories</h1>
  <div class="grid">
    <div class="item" [ngStyle]="{'background-image': 'url(' + this.allCategories[0].image + ')'}" (click)="categoryBusinesses(this.allCategories[0].title)">
      <div class="item__details">
        {{this.allCategories[0].title}}
      </div>
    </div>
    <div class="item item--large" [ngStyle]="{'background-image': 'url(' + this.allCategories[4].image + ')'}" (click)="categoryBusinesses(this.allCategories[4].title)">
      <div class="item__details">
        {{this.allCategories[4].title}}
      </div>
    </div>
    <div class="item item--medium" [ngStyle]="{'background-image': 'url(' + this.allCategories[2].image + ')'}" (click)="categoryBusinesses(this.allCategories[2].title)">
      <div class="item__details">
        {{this.allCategories[2].title}}
      </div>
    </div>
    <div class="item item--large" [ngStyle]="{'background-image': 'url(' + this.allCategories[3].image + ')'}" (click)="categoryBusinesses(this.allCategories[3].title)">
      <div class="item__details">
        {{this.allCategories[3].title}}
      </div>
    </div>
    <div class="item item--full" [ngStyle]="{'background-image': 'url(' + this.allCategories[9].image + ')'}" (click)="categoryBusinesses(this.allCategories[9].title)">
      <div class="item__details">
      {{this.allCategories[9].title}}
      </div>
    </div>
    <div class="item item--medium" [ngStyle]="{'background-image': 'url(' + this.allCategories[10].image + ')'}" (click)="categoryBusinesses(this.allCategories[10].title)">
      <div class="item__details">
        {{this.allCategories[10].title}}
      </div>
    </div>
    <div class="item item--large" [ngStyle]="{'background-image': 'url(' + this.allCategories[6].image + ')'}" (click)="categoryBusinesses(this.allCategories[6].title)">
      <div class="item__details">
        {{this.allCategories[6].title}}
      </div>
    </div>
    <div class="item" [ngStyle]="{'background-image': 'url(' + this.allCategories[7].image + ')'}" (click)="categoryBusinesses(this.allCategories[7].title)">
      <div class="item__details">
        {{this.allCategories[7].title}}
      </div>
    </div>
    <div class="item item--medium" [ngStyle]="{'background-image': 'url(' + this.allCategories[8].image + ')'}" (click)="categoryBusinesses(this.allCategories[8].title)">
      <div class="item__details">
        {{this.allCategories[8].title}}
      </div>
    </div>
    <div class="item item--large" [ngStyle]="{'background-image': 'url(' + this.allCategories[1].image + ')'}" (click)="categoryBusinesses(this.allCategories[1].title)">
      <div class="item__details">
        {{this.allCategories[1].title}}
      </div>
    </div>
    <div class="item" [ngStyle]="{'background-image': 'url(' + this.allCategories[5].image + ')'}" (click)="categoryBusinesses(this.allCategories[5].title)">
      <div class="item__details">
        {{this.allCategories[5].title}}
      </div>
    </div>
    <div class="item item--medium" [ngStyle]="{'background-image': 'url(' + this.allCategories[11].image + ')'}" (click)="categoryBusinesses(this.allCategories[11].title)">
      <div class="item__details">
        {{this.allCategories[11].title}}
      </div>
    </div>
    <div class="item item--medium" [ngStyle]="{'background-image': 'url(' + this.allCategories[12].image + ')'}" (click)="categoryBusinesses(this.allCategories[12].title)">
      <div class="item__details">
        {{this.allCategories[12].title}}
      </div>
    </div>
    <div class="item item--large" [ngStyle]="{'background-image': 'url(' + this.allCategories[13].image + ')'}" (click)="categoryBusinesses(this.allCategories[13].title)">
      <div class="item__details">
        {{this.allCategories[13].title}}
      </div>
    </div>
    <!-- <div class="item" [ngStyle]="{'background-image': 'url(' + this.allCategories[14].image + ')'}">
      <div class="item__details">
        {{this.allCategories[14].title}}
      </div>
    </div> -->
  </div>
  