input[type="file"]::file-selector-button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background: #0f172a;
  color: white;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 3rem;
}



:host {
	 display: flex;
	 flex-direction: column;
	 height: 100%;
}
 mat-drawer {
	 width: 260px;
	 background: #0f172a;
}
 mat-drawer-container {
	 height: 100%;
}
 
.page {
	 color: white;
	 padding: 0 1rem;
	 background: #f1f5f9;
}
 .page__box {
	 min-height: 120px;
	 background: #0f172a;
	 font-size: 36px;
}


main .jumbo {
  width: 100%;
  height: 350px;
  background: url(./../../../assets/images/addhood.jpg) center center no-repeat;
  background-size: cover;
}
main .icons {
  display: flex;
  justify-content: space-between;
}
main .icons .big-icon {
  width: 180px;
  height: 180px;
  background: center top;
  background-size: 140%;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -90px;
  margin-right: auto;
  margin-left: auto;
}
main .icons .rate {
  width: 125px;
  display: flex;
  justify-content: space-between;
  order: -1;
}

main .icons .add {
  width: 125px;
  display: flex;
  justify-content: flex-end;
}
main .icons .add .add-btn {
  margin-top: -27.5px;
}
main .icons .add .add-btn i {
  font-size: 28px;
}
main .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main .details h3 {
  color: #212121;
  font-size: 28px;
  margin-top: 15px;
}
main .details p {
  color: #727272;
  margin-top: 0px;
}
main .bio {
  margin-bottom: 150px;
}
main .bio .title h6 {
  color: #212121;
  font-size: 18px;
}
main .bio .content p {
  color: #727272;
}

@media screen and (max-width: 600px) {
  main {
    padding-top: 40px;
  }

  .jumbo {
    height: 200px !important;
  }

  .icons {
    justify-content: center !important;
  }

  .rate {
    display: none !important;
  }

  .add {
    display: none !important;
  }
}
@media screen and (min-width: 600px) {
  .fab {
    display: none;
  }
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #0f172a;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}


/*  */
i.fa {
  margin-right: 15px;
}

label, p, a, h1, div {
  font-family: Roboto, sans-serif;
}

.tab-wrap {
  width: 100%;
  margin-left: 0%;
  position: relative;
  display: flex;
  top: -106px;
}

input[type=radio][name=tabs] {
  position: absolute;
  z-index: -1;
}
input[type=radio][name=tabs]:checked + .tab-label-content label {
  color: white;
}
input[type=radio][name=tabs]:checked + .tab-label-content .tab-content {
  display: block;
}
input[type=radio][name=tabs]:nth-of-type(1):checked ~ .slide {
  left: calc((100% / 3) * 0);
}
input[type=radio][name=tabs]:nth-of-type(2):checked ~ .slide {
  left: calc((100% / 3) * 1);
}
input[type=radio][name=tabs]:nth-of-type(3):checked ~ .slide {
  left: calc((100% / 3) * 2);
}
input[type=radio][name=tabs]:nth-of-type(4):checked ~ .slide {
  left: calc((100% / 3) * 3);
}
input[type=radio][name=tabs]:first-of-type:checked ~ .slide {
  left: 0;
}

label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0f172a;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: #ffeb3b;
  width: calc(100% / 4);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
}
.tab-label-content .tab-content {
  position: absolute;
  top: 100px;
  left: 16px;
  line-height: 130%;
  display: none;
}

@media screen and (max-width: 800px) {
  h1 {
    padding: 40px 0 90px 10%;
  }

  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}



/* posts card */
.card {

  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.card a {
  color: inherit;
  text-decoration: none;
}

.card__date {
  background: #0f172a;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  padding-top: 10px;
}
.card__date__day {
  display: block;
  font-size: 14px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card__thumb {
  height: 235px;
  overflow: hidden;
  background-color: #000;
  transition: height 0.3s;
}
.card__thumb img {
  width: 100%;
  height: inherit;
	object-fit: cover;
  display: block;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(1);
}
.card:hover .card__thumb img {
  opacity: 0.6;
  transform: scale(1.2);
}
.card:hover .card__thumb {
  height: 90px;
}

.card__body {
  position: relative;
  padding: 20px;
  height: 185px;
  transition: height 0.3s;
}
.card:hover .card__body {
  height: 330px;
}

.card:hover .card__body .card__title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background: #0f172a;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
}
.card__category a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.card__title {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}
.card:hover .card__title {
  -webkit-animation: titleBlur 0.3s;
          animation: titleBlur 0.3s;
}

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  color: #08c;
  font-size: 19px;
}
.card:hover .card__subtitle {
  -webkit-animation: subtitleBlur 0.3s;
          animation: subtitleBlur 0.3s;
}

.card__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 65px;
  margin: 0;
  padding: 0;
  color: #666c74;
  font-size: 14px;
  line-height: 27px;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transition-delay: 0s;
  transform: translateY(25px);
}
.card:hover .card__description {
  opacity: 1;
  transition-delay: 0.1s;
  transform: translateY(0);
}

.card__footer {
  position: absolute;
  color: #a3a9ab;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
}
.card__footer .icon--comment {
  margin-left: 10px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.icon:before {
  display: inline-block;
  text-align: center;
  height: 14px;
  width: 14px;
  margin-top: -2px;
  margin-right: 6px;
}

.icon--comment:before {
  content: "";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.icon--time:before {
  content: "";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

@-webkit-keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
  }
}

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0);
  }
}
@keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0);
  }
}