<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="d-flex page__box">
      <app-nav (toggleSidebarForMe)="sideBarToggler()"></app-nav>
    </div>

    <div class="container-fluid page">
      <section class="container">
        <div class="row">
          <div class="flip-card">
            <div class="page__content shadow position-relative d-flex">
              <div class="row" id="hoodImage">
                <div class="image" id="image">
                  <img src="../../../assets/images/notice.jpg" alt="logo" class="img">
                </div>
              </div>

              <div class="row text-center" id="addHoodForm">
                <div id="formImage">

                </div>
                <div class="text-center" id="input">
                  <form class="example-form" [formGroup]="postForm"
                    (ngSubmit)="newPost(postForm.value);postForm.reset()">
                    <h2>Add Post</h2>
                    <div class="new-room">
                      <table>
                        <tr>
                          <td>
                            <mat-form-field class="example">
                              <mat-label>title</mat-label>
                              <input matInput placeholder="Enter title" formControlName="title"
                                [errorStateMatcher]="matcher">
                              <mat-error>
                                <span *ngIf="!postForm.get('title').valid && postForm.get('title').touched">Enter
                                  title</span>
                                <span>Enter title</span>
                              </mat-error>
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="example">
                              <mat-label>Content</mat-label>
                              <textarea matInput placeholder="Enter content" formControlName="content"
                                [errorStateMatcher]="matcher"></textarea>
                              <mat-error>
                                <span *ngIf="!postForm.get('content').valid && postForm.get('content').touched">Enter
                                  Content
                                </span>
                                <span>Enter Content</span>
                              </mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input type="file" placeholder="Enter Image" formControlName="image"
                              (change)="showPreview($event)">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <button class="switch__button button switch-btn" type="submit" [disabled]="!postForm.valid"
                              mat-button matSuffix mat-icon-button aria-label="Send" style="color: #f9f9f9;">
                              Submit
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="container">
        <div class="row active-with-click mt-5">
          <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let data of this.postData">
            <article class="card">
              <header class="card__thumb">
                <a href="#"><img [src]="data.image"></a>

              </header>
              <div class="card__date">
                <span class="card__date__day">{{data.date | date:'d'}}</span>
                <span class="card__date__month">{{data.date | date:'MMM'}}</span>
              </div>
              <div class="card__body">
                <div class="card__category"><a href="#">Category</a></div>
                <div class="card__title"><a href="#">{{data.title}}</a></div>
                <div class="card__subtitle">Donec posuere vulputate</div>
                <p class="card__description">{{data.content | slice:0:250}}</p>
              </div>
              <footer class="card__footer">
                <span class="icon icon--time">6 min</span>
                <span class="icon icon--comment"><a href="#">2 comments</a></span>
              </footer>
            </article>
          </div>
        </div>
      </section>
    </div>
  </mat-drawer-content>
</mat-drawer-container>