<div class="content">
  <div class="main">
    <div class="container b-container" id="b-container">
      <section>
        <h2>Forgot your Password?</h2>
        <p>We can send you a reset link</p>
      
        <mat-form-field>
          <input matInput placeholder="Enter your email" [(ngModel)]="email" required />
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="resetPassword(email)" class="form__button button submit">
          Reset Password <i class="fas fa-arrow-right"></i>
        </button>
      </section>
    </div>
    <div class="switch" id="switch-cnt">
      <div class="switch__circle"></div>
      <div class="switch__circle switch__circle--t"></div>
      <div class="switch__container" id="switch-c1">
        <h2 class="switch__title title">Password Reset !</h2>
        <p class="switch__description description">Let's Help you reset your Password</p>
        &nbsp;
        <p class="switch__description description"></p>
        <button class="switch__button button switch-btn" routerLink="/login">SIGN IN?</button>
      </div>
    </div>
  </div>
</div>