<div class="container-fluid page">
  <section class="container">
    <div class="row">
      <div class=".flip-card">
        <div class="page__content shadow position-relative d-flex">
          <div class="row" id="hoodImage">
            <div class="image" id="image">
              <img src="../../../assets/images/business.jpg" alt="logo" class="img">
              <div class="mouse" id="mouse">
                <span></span>
              </div>
            </div>
          </div>

          <div class="row text-center" id="addHoodForm">
            <div id="formImage">
              <div class="image">
                <img src="../../../assets/images/business.jpg" alt="logo" class="img">
              </div>
            </div>
            <div class="text-center" id="input">
              <form class="example-form" [formGroup]="businessForm"
                (ngSubmit)="newBusiness(businessForm.value);businessForm.reset()">
                <h2>Add Your Business</h2>
                <div class="new-room">
                  <table>
                    <tr>
                      <td>
                        <mat-form-field class="example">
                          <mat-label>Business Name</mat-label>
                          <input matInput placeholder="Enter hood title" formControlName="title"
                            [errorStateMatcher]="matcher">
                          <mat-error>
                            <span *ngIf="!businessForm.get('title').valid && businessForm.get('title').touched">Enter
                              room
                              name</span>
                            <span>Enter room name</span>
                          </mat-error>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example">
                          <mat-label>Description</mat-label>
                          <textarea matInput placeholder="Enter Description" formControlName="description"
                            [errorStateMatcher]="matcher"></textarea>
                          <mat-error>
                            <span
                              *ngIf="!businessForm.get('description').valid && businessForm.get('description').touched">Enter
                              Description
                            </span>
                            <span>Enter Description</span>
                          </mat-error>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="file" placeholder="Enter Image" formControlName="image"
                          (change)="showPreview($event)">
                      </td>
                      <td>
                        <mat-form-field class="example">
                          <mat-label>Location</mat-label>
                          <input matInput placeholder="Enter Location" formControlName="location"
                            [errorStateMatcher]="matcher">
                          <mat-error>
                            <span
                              *ngIf="!businessForm.get('location').valid && businessForm.get('location').touched">Enter
                              Location
                            </span>
                            <span>Enter Location</span>
                          </mat-error>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <mat-form-field class="example">
                          <mat-label>Select category</mat-label>
                          <input matInput placeholder="category" formControlName="category"
                            [errorStateMatcher]="matcher" />
                          <mat-select formControlName="category">
                            <mat-option *ngFor="let x of businesses" [value]="x.title">
                              {{x?.title}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <button class="switch__button button switch-btn" type="submit" [disabled]="!businessForm.valid"
                          mat-button matSuffix mat-icon-button aria-label="Send" style="color: #f9f9f9;">
                          Add Business
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="row active-with-click mt-5">
      <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let hood of this.businessHood">
        <article class="material-card Blue-Grey">
          <h2>
            <span>{{hood.title}}</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              {{hood.location}}
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img class="img-responsive" [src]="hood.image">
            </div>
            <div class="mc-description">
              Freeman has received Academy Award nominations for his performances in Street Smart, Driving Miss Daisy,
              The
              Shawshank Redemption and Invictus ...
            </div>
          </div>
          <a class="mc-btn-action">
            <i class="fa fa-bars"></i>
          </a>
          <div class="mc-footer">
            <h4>
              Social
            </h4>
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>



<!-- <div class="example-sidenav-content">
  <div class="container-fluid">
    <mat-card>
      <div class="row">
        <div class="">
          <form class="example-form" [formGroup]="categoryForm"
            (ngSubmit)="newCategory(categoryForm.value);categoryForm.reset()">
            <h2>Please enter new Category</h2>
            <div class="new-room">
              <mat-form-field class="example">
                <mat-label>title</mat-label>
                <input matInput placeholder="Enter hood title" formControlName="title" [errorStateMatcher]="matcher">
                <mat-error>
                  <span *ngIf="!categoryForm.get('title').valid && categoryForm.get('title').touched">Enter room
                    name</span>
                  <span>Enter room name</span>
                </mat-error>
              </mat-form-field>
              <br>
              
              <mat-label>Image</mat-label>
              <input type="file" placeholder="Enter Image" formControlName="image" (change)="showPreview($event)">
              

              <button color="primary" type="submit" [disabled]="!categoryForm.valid" mat-button matSuffix
                mat-icon-button aria-label="Send">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div> -->